*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
/* header & nevigation styles */
header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png) ,url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right ,left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
        color: var(--Dark-01, #181818);
        font-size: 45px;
        font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
}
/* Banner Section Start */

.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-sub-title{
    color: var(--Dark-02,#474747);
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;  
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-description{
        color: var(--Dark-03, #757575);
        font-size: 12px;
        line-height: 10px;
        margin-bottom: 30px;
}
/* Banner Section End */
/* Main Section Start */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Main Section End */
/* About Section Start */
section{
        margin-top: 130px;
}
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size:35px;
    color: var(--Dark-01, #181818);
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content:space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* About Section End */
/* What I Do Start */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
        padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* What I Do End */
/* Resume style Start*/

/* Resume Style End */